<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Dashboard</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="bg-slate-100">
    <h2 class="text-center font-bold mt-4 text-lg">Weather Dashboard</h2>
    <h5 class="text-center">Real time application of Weather Dashboard</h5>
    <div class="w-full h-screen flex justify-center items-center">
        <div class=" shadow-md bg-white p-6 h-2/3 w-2/3">
            <canvas id="lineChart"></canvas>
        </div>
    </div>
</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="assets/js/chart.js"></script>

</html>