<%- include('./layouts/header.ejs') %>


    <main>
        <div class="flex justify-evenly py-20">
            <a href="todo-list">
                <div class="rounded-lg shadow-lg bg-green-300 px-20 py-20 transition-all hover:scale-105"> Todo List</div>
            </a>
            <a href="add-todo">
                <div class="rounded-lg shadow-lg bg-blue-300 px-20 py-20 transition-all hover:scale-105">
                    Add Todo
                </div>
            </a>

        </div>
    </main>

    <%- include('./layouts/footer.ejs') %>